---
import Hero from "../components/Hero.astro";
import Om from "../components/Om.astro";
import Workshop from "../components/Workshop.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Hero />
    <Om />
    <Workshop />
  </body>
</html>

<style>
  body {
    margin: 0;
  }
</style>
