---
---

<div class="circular-text">
  <span id="rotated"
    >/ MÆRK RYTMEN / JAM MED / SE SKEMA / MÆRK RYTMEN / JAM MED / SE SKEMA /
    MÆRK RYTMEN
  </span>
</div>
<div class="arrow">
  <svg
    class="arrow-down"
    xmlns="http://www.w3.org/2000/svg"
    width="43"
    height="62"
    viewBox="0 0 43 62"
    fill="none"
  >
    <path
      d="M21.9765 0.442383V59.9506M21.9765 59.9506L2.2627 39.0546M21.9765 59.9506L41.0332 39.0546"
      stroke="#FFE781"
      stroke-width="5"
      stroke-linejoin="bevel"></path>
  </svg>
</div>
