---
---

<article class="background">
    <h1 class="titel">Om Dansestudiet</h1>
    <div class="light-yellow">
        <div class="grid-1-1-1-1">
            <svg class="big-circle" xmlns="http://www.w3.org/2000/svg" width="114" height="114" viewBox="0 0 114 114" fill="none">
                <circle cx="56.9038" cy="56.9038" r="56.9038" fill="#86C3C3"/>
                </svg>
                <svg class="small-circle" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                    <circle cx="14" cy="14" r="14" fill="#85C3C3"/>
                    </svg>
        <article class="yellow-box">
            
            <h3>Info</h3>
            <p>Skolen er en privat skole og råder over tre sale, en hyggelig café med kig til alle sale, badefaciliteter og reception.

                Undervisningen har hovedvægt på modern, jazz, klassisk ballet og street. 
                
                Skolen er respekteret for sin talentudvikling, og har gennem årene indtaget en betydningsfuld rolle i udviklingen af såvel det lokale som det nationale dansemiljø. Flere af de danske dansere og koreografere, der i dag markerer sig på dansescener i Danmark og Europa, har modtaget undervisning eller uddannelse på Dansestudiet Aarhus.
                
                Dansestudiet Aarhus er central beliggende i Aarhus C tæt på Musikhuset, Bora Bora – dans og visuelt teater, Godsbanen og AROS.
                
                </p>
        </article>
        <svg class="big-circle2" xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57" fill="none">
            <circle cx="28.5" cy="28.5" r="28.5" fill="#85C3C3"/>
            </svg>
            <svg class="small-circle2" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                <circle cx="14" cy="14" r="14" fill="#85C3C3"/>
                </svg>
    </div> 
    </div>
    <div class="yellow">
        <div class="grid-1-1-1-1">
            <svg class="big-circle3" xmlns="http://www.w3.org/2000/svg" width="114" height="114" viewBox="0 0 114 114" fill="none">
                <circle cx="56.9038" cy="56.9038" r="56.9038" fill="#86C3C3"/>
                </svg>
                <svg class="small-circle3" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                    <circle cx="14" cy="14" r="14" fill="#85C3C3"/>
                    </svg>
        <article class="light-yellow-box">
            
            <h3>Vores værdier</h3>
           <ul>
            <li>Nærvær</li>
            <li>Indlæring</li>
            <li>Trygt miljø</li>
            <li>Rrespekt for eleven og danseren</li>
           </ul>
           <p>Uanset alder, niveau og ambition er du velkommen!</p>
        </article>
        <article class="light-yellow-box2">
            <h3>Vores Historie</h3>
            <p>Skolen blev grundlagt i 1979 af Gitte Holm under navnet Institut Gitte Holm. I 1999 overtog datteren Susanne Holm skolen, og navnet blev ændret til Dansestudiet Aarhus.
                I 40 år har Dansestudiet været en vigtig del af det aarhusianske dansemiljø og det er med stor respekt og taknemmelighed at de to nye indehavere overtager og viderefører Dansestudiet Aarhus.</p>
        </article>
        <svg class="big-circle4" xmlns="http://www.w3.org/2000/svg" width="57" height="57" viewBox="0 0 57 57" fill="none">
            <circle cx="28.5" cy="28.5" r="28.5" fill="#85C3C3"/>
            </svg>
            <svg class="small-circle4" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                <circle cx="14" cy="14" r="14" fill="#85C3C3"/>
    </div>
</article>



<style>
    .background {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    max-width: 94.4375rem;
    height: 64.125rem;
  }

  .light-yellow{
    background-color: #FFF8E1;;
  }

  .yellow{
    background-color: #FFEDA0;;
  }

  .grid-1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
  }

  h1{
    color: #196472;

/* h1 */
font-family: DansestudietDisplay1;
font-size: 4rem;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 4.8rem */
position: absolute;
margin-left: 27.30rem;
margin-top: 6rem;
  }

.yellow-box{
gap: var(--gap-vertical, 2rem);
padding: var(--vertical-p-box, 3.25rem) var(--horizontal-p-box, 3.375rem);
border-radius: var(--radius, 3.125rem);
background: #FFEDA0;
grid-column-start: 2;
margin-top: 17rem;
margin-bottom: 16rem;

  }

  .big-circle{
    position: absolute;
    left: 7rem;
    margin-top:14rem;
  }

  .small-circle{
    position: absolute;
    left: 7rem;
    margin-top:19rem;
  }

  .big-circle2{
    position: absolute;
    left: 33rem;
    margin-top:83rem;
  }

  .small-circle2{
    position: absolute;
    left: 36.5rem;
    margin-top:81.5rem;
  }

h3{
    color: #196472;

/* h2 */
font-family: DansestudietDisplay1;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 3rem */

}

p{

    color: #196472;

/* text-body */
font-family: Avenir Next;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 2.5rem; /* 200% */

}


.light-yellow-box{
gap: var(--gap-vertical, 2rem);
padding: var(--vertical-p-box, 3.25rem) var(--horizontal-p-box, 3.375rem);
border-radius: var(--radius, 3.125rem);
background: #FFF4C5;
grid-column-start: 2;
margin-top: 17rem;


  }

  .light-yellow-box2{
gap: var(--gap-vertical, 2rem);
padding: var(--vertical-p-box, 3.25rem) var(--horizontal-p-box, 3.375rem);
border-radius: var(--radius, 3.125rem);
background: #FFF4C5;
grid-column-start: 2;
margin-top: 6rem;
margin-bottom: 6rem;


  }

  li{
    color: #196472;

/* text-body */
font-family: Avenir Next;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 2.5rem; /* 200% */

  }


  .big-circle3{
    position: absolute;
    left: 50rem;
    margin-top:14rem;
  }

  .small-circle3{
    position: absolute;
    left: 50rem;
    margin-top:19rem;
  }

  .big-circle4{
    position: absolute;
    left: 78.5rem;
    margin-top:101rem;
  }

  .small-circle4{
    position: absolute;
    left: 81.5rem;
    margin-top:99rem;
  }

 

</style>